.cursor {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  contain: layout style size;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 20px;
  height: 20px;




  &:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    transform: scale(0.2);
    background-color: #EB5757;
    border-radius:100% ;
    width: 48px;
    height: 48px;
    svg {
      transform: scale(0.2);
    }
  }
  .cursor-inner {
    display: block;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 100%;
    transform: scale(0);
    margin: -175px 0 0 -175px;
    position: relative;
    img {
      height: 300px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
    }
  }
}